#nav-bar{
  top:0px;
  left:0;
  right:0;
  position: fixed;
  color: #e8fdff;
  background-color: #00a087;
  font-family: 'Roboto Condensed', sans-serif;
  padding-left:2em;
  padding-right:2em;
  overflow: hidden;
  height:80px;
  z-index: 1000;
}
#nav-bar .logo{
	height: 80px;
	width: 80px;
	float: left;
	margin: 5px;
}
#nav-bar .header{
	font-size: 2em;
	float:left;
	line-height: 3;
}

.compose-button{
  color:#244751;
  font-weight: bold;
  border:1px solid grey;
  margin: 15px 0px;
  border-radius: 10px;
  background-color: dark grey;
  padding: 15px 20px;
  float: right;
  display: inline-block;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}

.compose-button:hover{
  color: black;
  border: 2px:solid black;
}